<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Smartphone</h1>
            <h1 class="mb-5">Store your favorite Smartphone</h1>
            <a href="/auth/signin" class="btn btn-primary">
            let's get Started
            </a>
        </div>
    </header>
</main>