  <div class="container mt-4">
    <div class="position-relative overflow-hidden">
      <div id="accordionSlider" class="accordion-slider">
        <div class="accordion-item">
          <img src="/src/assets/huawei/Huawei.jpeg" alt="Image 1">
        </div>
        <div class="accordion-item">
          <img src="/src/assets/iphone/iphon.jpeg" alt="Image 2">
        </div>
        <div class="accordion-item">
          <img src="/src/assets/samsumg/image.png" alt="Image 3">
        </div>
        <div class="accordion-item">
          <img src="/src/assets/vivo/vivo2.jpg" alt="Image 4">
        </div>
        <div class="accordion-item">
          <img src="/src/assets/Xiaomi/image.png" alt="Image 5">
        </div>
      </div>
    </div>
  </div>